.bar {
    border: 1px solid grey;
    flex-grow: 1;
}

.lineBox {
    border: 1px solid red;
    background-image: linear-gradient(to right top, transparent 48%, black 48%, black 52%, transparent 52%);
}
