.xaxis {
    display: flex;
    position: relative;
}

.title {
    position: absolute;
    right: 0;
}

.axis {
    display: flex;
}

.scale {
    /*border-right: 1px solid red;*/
}

.scaleFont {
    font-size: x-small;
    margin: 0;
    position: relative;
    left: 6px;
}

.bar {
    height: 10px;
    border-right: 1px solid black;
    position: relative;
    top: -25px;
    right: 0;
}
