.yaxis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scale {
    text-align: right;
}

.scaleFont {
    font-size: x-small;
    margin: 0 4px 0 0;
    top: -10px;
    position: relative;
}

.bar {
    width: 10px;
    border-top: 1px solid black;
    position: relative;
    top: -20px;
    left: 70px;
}
